<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/Theme.AppCompat.Light">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Sudoku Activity -->
        <activity
            android:name=".SudokuActivity"
            android:label="Sudoku Game"
            android:exported="false" />

        <!-- Tetris Activity -->
        <activity
            android:name=".TetrisActivity"
            android:label="Tetris Game"
            android:exported="false" />

    </application>
</manifest>
